* {
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: black;
    justify-content: center;
    color: white;
}

.container {
    display: flex;
    background-color: #343D4B;
    width: 1440px;
    height:1024px;
    align-items: center;
    justify-content: center;
}

.board1 {
    display: flex;
    background-image: url();
    border-radius: 30px;
    background-image:linear-gradient(152deg, rgba(170, 234, 236, 0.9) -0.04%, rgba(83, 91, 230, 0.90) 100%), url("./image/more.png");
    width: 493px;
    height: 666px;
    top: 188px;
    left: 200px;
    flex-shrink: 0;  
}

.board2 {
    display: flex;
    border-top-right-radius: 25px;
    border-bottom-right-radius:25px;
    background-color: #222831;
    width: 520px;
    height: 623px;
    flex-shrink: 0; 
    align-content: flex-start;
    flex-direction: column;
}

.week {
    
    width: 176px;
    height: 38px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-content: left;
    padding-left: 32px;
    padding-top: 48px;
}
.time1 {
    display: flex;
    height: 36px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    flex-flow: row nowrap;
    justify-content: left;
    padding-top: 16px;

}
.location {
    display: flex;
    height: 36px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    flex-flow: row nowrap;
    justify-content: left;
    padding-top: 13px;
    

}

.location1 {
    display: flex;
    height: 36px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    flex-flow: row nowrap;
    justify-content: left;
    padding-left: 8px;
}
.sunmark {
    display: flex;
    flex-shrink: 0;
    flex-flow: row nowrap;
    justify-content: left;
    padding-top: 200px;
    width: 95px;
    height: 95px;
    flex-shrink: 0;
}
.temperature {
    display: flex;
    flex-shrink: 0;
    flex-flow: row nowrap;
    justify-content: left;
    padding-top: 9px;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}
.weather {
    display: flex;
    flex-shrink: 0;
    flex-flow: row nowrap;
    justify-content: left;
    padding-top: 9px;
    width: 144px;
    height: 29px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}
.boardtext2 {
    width: 275px;
    height: 35px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-content: left;
    display:flex;
    padding-left: 55px;
    padding-top: 55px;
    flex-flow: row nowrap;

}
.precipitaionpercent {
    width: 68px;
    height: 22px;
    flex-shrink: 0; 
    color: #FFF;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left:72px;
    
    

        
}
.precipitation {
    width: 275px;
    height: 35px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.board2strokes {
    width: 275px;
    height: 35px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Arial;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 16px;
    
}
.boardtext {
    width: 275px;
    height: 35px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-content: left;
    display:flex;
    flex-flow: row nowrap;
    padding-left: 55px;

}