

*,*::before,*::after{
    box-sizing: border-box;
}
@import url(/style/weatherblock.css);
@import url(/style/board2_razdelitel_block1.css);


:root {
    --space-base: 4px;
    --space-8: calc(2 * var(--space-base));
    --space-12: calc(3 * var(--space-base));
    --space-16: calc(4 * var(--space-base));
    --whitec: #FFF;
    --blackc: #000
    
}

body {
    display: flex;
    background-color: #343D4B;
    justify-content: center;
    color: var(--whitec);
    width: 100vw;
    height:100vh;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding:0px;
    font-size: 0.69444444vw;
}

.container {
    display: flex;
    background-color: #343D4B;
    align-items: center;
    justify-content: center;
    font-family: Montserrat;
}

.board1 {
    display: flex;
    border-radius: 30px;
    background-image:linear-gradient(152deg, rgba(170, 234, 236, 0.9) -0.04%, rgba(83, 91, 230, 0.90) 100%), url("./image/more.png");
    flex-shrink: 0;  
    flex-basis: 493px;
    aspect-ratio: 493/666;
    
}

.board1_razdelitel {
    display: flex;
    margin: calc(6 * var(--space-8)) calc(2 * var(--space-16));
    justify-content: space-between;
    flex-direction: column;
    flex-shrink: 0;
    font-style: normal;
    line-height: normal;
    
}

.board1_razdelitel_topleft {
    /* height:53.4em */
}

.board1_razdelitel_botleft {
    margin-top: 200px;
}


.board1_razdelitel_topleft_week {
    font-family: Montserrat;
    width:100%;
    color: var(--whitec);
    line-height: normal;
    font-size: 3em;
    font-weight: 700;
    
}
.board1_razdelitel_topleft_date {
    
    height: (var(--size))*3.6;
    flex-shrink: 0;
    color: var(--whitec);
    font-family: Montserrat;
    font-size: 2.2em;
    font-weight: 500;
    padding-top: 1.6*var(--size);
    margin-bottom: var(--size)*0.9;
    
}
.board1_razdelitel_topleft_location {
    display: flex;
    padding-top: 0.9vh;
}
.board1_razdelitel_topleft_locationmark {
    margin-bottom: 0.9vh;   
    flex-shrink: 0;
    
}
.board1_razdelitel_topleft_locationplace {
    padding-top: 3px;
    color: var(--whitec);;
    font-family: Montserrat;
    font-size: 2em;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left:8px;
    width: 100%;
    height: 24px;
}

.board1_razdelitel_botleft_sunmark {
    width: 95px;
    height: 95px;
    flex-shrink: 0;
}
.board1_razdelitel_botleft_temperature {
    font-family: Montserrat;
    font-size: 5em;
    font-weight: 700;
    margin-top: 9px;
    height: 61px;
}
.board1_razdelitel_botleftweather {
    width: 144px;
    height: 29px;
    flex-shrink: 0;
    font-family: Montserrat;
    font-size: 3em;
    font-weight: 700;
    margin-top: 13px;
    

}

.board2 {
    display: flex;
    border-top-right-radius: 25px;
    border-bottom-right-radius:25px;
    background-color: #222831;
    flex-shrink: 0;     
    flex-direction: column;
    line-height: normal;
    font-style: normal;
    flex-basis:520px;
    aspect-ratio: 520/623;

}
.board2_razdelitel {
    margin-top: 55px;
    margin-left: 50px;
    margin-right:50px;
    margin-bottom:62px;
    display: flex;
    flex-direction: column; 
    height:auto;

}

.board2_razdelitel_block1 {
    margin-bottom:80px;
}
.board2_razdelitel_block2 {
    width:100%;
    height:168px;
    display: flex;
    flex-wrap: nowrap;
    background: #272E37;
    border-radius: 10px;
    margin-bottom: 10%;
    
}
.board2_razdelitel_block3 {
    border-radius: 10px;
    background: linear-gradient(91deg, rgba(144, 217, 224, 0.90) 0.2%, rgba(84, 96, 230, 0.90) 100%);
    width: 100%;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--whitec);
    text-align: right;
    font-family: Montserrat;
    font-size: 2em;
    font-weight: 600;

    
}

.b1str1 {
    height:35px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.b1text1 {
    font-size: 2.8em;
    font-weight: 700;
    width: 275px;
    height: 35px;
    
}
.b2percent1{
    color: var(--whitec);
    text-align: right;
    font-size: 2.8em;
    font-weight: 500;
    width: 153px;
    height: 22px;
    flex-shrink: 0;
}





.weatherblock {
    width: 25%;
    height:100%;
    flex-shrink: 0;
    flex-wrap: wrap;
    

}
.wbblock1{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    margin-top:15px;

}
.wbblock2{
    color: var(--whitec);
    text-align: center;
    font-family: Montserrat;
    font-size: 2em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 15px;
}
.wbblock3{
    color: var(--whitec);
    text-align: center;
    font-family: Montserrat;
    font-size: 2em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    justify-content: center;
}
.fweatherblock {
    width: 25%;
    height: 100%;
    flex-shrink: 0;
    flex-wrap: wrap;
    background-color: var(--whitec);
    border-radius: 10px;
    background: var(--whitec);
    box-shadow: 1px 2px 4px 0px #222831;
}
    
.fwbblock1 {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    margin-top:15px;
    background-color: var(--whitec);;
    
    
}
.fwbblock2{
    color: var(--blackc);
    text-align: center;
    font-family: Montserrat;
    font-size: 2em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 15px;
    background-color: var(--whitec);
}
.fwbblock3{
    color: var(--blackc);
    text-align: right;
    font-family: Montserrat;
    font-size: 2em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    justify-content: center;
    background-color: var(--whitec);;
}