.btn {
    border:none;
    background:none;
    right: 20px;
    top: 20px;
    opacity: 1;
    border: none;
    opacity:0.7;
    border-radius: 30px;
    background: linear-gradient(91deg, rgba(144, 217, 224, 0.90) 0.2%, rgba(84, 96, 230, 0.90) 100%);
    color: var(--whitec);
    font-family: Montserrat;
    font-size: 2em;
    font-weight: 600;
    opacity: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 12px;
    cursor: pointer;
}

.btn:hover{
    opacity:0.7;
}

.btn:hover{
    opacity:0.7;
}

.btn--full-width {
    width: 100%;
}