:root {
    --space-base: 4px;
    --space-8: calc(2 * var(--space-base));
    --space-12: calc(3 * var(--space-base));
    --space-16: calc(4 * var(--space-base));
    --whitec: #FFF;
    --blackc: #000;
    --backcolor: #222831;
    --beautifulBlue:linear-gradient(91deg, rgba(144, 217, 224, 0.90) 0.2%, rgba(84, 96, 230, 0.90) 100%);
    
}

.right-block {
    display: flex;
    border-top-right-radius: 25px;
    border-bottom-right-radius:25px;
    background-color: var(--backcolor);
    flex-shrink: 0;     
    flex-direction: column;
    line-height: normal;
    font-style: normal;
    flex-basis:520px;
    aspect-ratio: 520/623;
    align-items: center;

}
.right-block__divider {
    margin-top: 55px;
    margin-left: 50px;
    margin-right:50px;
    display: flex;
    flex-direction: column; 
    height:auto;
    width:80%

}

.right-block__textblock {
    margin-bottom:80px;
}
.right-block__weatherblock {
    width:100%;
    height:168px;
    display: flex;
    flex-wrap: nowrap;
    background: #272E37;
    margin-bottom: 10%;
    border-radius: 10px;
    
}
.right-block__button {
    border-radius: 10px;
    background: var(--beautifulBlue);
    width: 100%;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--whitec);
    text-align: right;
    font-family: Montserrat;
    font-size: 2em;
    font-weight: 600;

    
}

.right-block__textblock-str {
    height:35px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.right-block__textblock__text {
    font-size: 2.8em;
    font-weight: 700;
    color:var(--whitec);
    
}
.right-block__textblock__percent{
    color: var(--whitec);
    text-align: right;
    font-size: 2.8em;
    font-weight: 500;
    flex-shrink: 0;
}

.right-block__weatherblock__unit {
    width: 25%;
    height:100%;
    flex-shrink: 0;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    

}
.weatherblock__unit__mark{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    margin-top:15px;

}
.weatherblock__unit__mark img{
    width: 50px;
}
.weatherblock__unit__week{
    color: var(--whitec);
    text-align: center;
    font-family: Montserrat;
    font-size: 2em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 15px;
}
.weatherblock__unit__temperature{
    color: var(--whitec);
    text-align: center;
    font-family: Montserrat;
    font-size: 2em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}  


    
    .search-box{
    border: none;
    border-radius: 10px;
    background: var(--beautifulBlue);
    color: var(--whitec);
    font-family: Montserrat;
    font-weight: 600;
    opacity: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 12px;
    cursor: pointer;
    font-size: calc(2*var(--space-12));
    }

    .search-box input{
    color:var(--whitec);
    font-size: calc(2*var(--space-12));
    font-weight: 400;
    background: none;
    border:none;
    font-family: Montserrat;
    


    }
    .search-box input ::placeholder{
    color:var(--whitec);
    font-weight: 400;
    font-size: calc(2*var(--space-12));
    text-transform: capitalize;
    font-family: Montserrat;

    }
    .search-box button {
    cursor:pointer;
    width:auto;
    height:auto;
    border-radius: 50%;
    font-size: calc(2*var(--space-12));
    font-family: Montserrat;
    background: none;
    border:none;

    }
    .search-box img{
        width:30px;
        height:30px;
    }

    .search-box button{
    color:var(--whitec);

    }
    .fa-location-dot{
    position: absolute;
    color:var(--whitec);
    font-size:20px;
    font-family: Montserrat;
    }
    .fa-solid {
        filter:invert(1);
    }
    .fa-solid img{
        width:25px;
        height:25px;
        padding-top: 3px;
    }




@media screen and (max-width:1000px) {
    .right-block {
        border-bottom-left-radius:0;
        border-bottom-right-radius: 0;
        border-top-right-radius:0px ;
        flex-basis: auto;
        width:100%;
        flex-grow: 1;
        
    }
    .right-block__textblock__text{
        width:auto;
        height:auto;
        font-size: calc(2*var(--space-8));
        color:var(--whitec);

    }
    .right-block__textblock__percent{
        width:auto;
        font-size: calc(2*var(--space-8))
    }
    .right-block__textblock {
        margin-bottom: 5px;
    }
    .right-block__divider {
        margin-top: 25px;
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 31px;}
        
    .right-block__textblock-str {
        height:auto;
        margin-bottom: 3%;
    }
    .right-block__weatherblock {
        height:auto;
    }
    .weatherblock__unit__temperature {
        font-size: var(--space-16);

    }
    .weatherblock__unit__week {
        font-size: var(--space-16);
        margin-bottom: 10%;

    }
    .right-block__button {
        font-size: var(--space-16);
    }
    .right-block__divider{
        margin-bottom: 0;
    }

    .fa-location-dot {
        position: absolute;
        color:var(--backcolor);
        font-size: 20px;
    }
    .search-box input {
        font-size:14px;

    }
    
    
}

@media screen and (min-width: 2000px){
    .right-block{
        flex-basis:1040px;
        aspect-ratio: 1040/1246;
    }
    .right-block__textblock__text{
        height: auto;
    }
    .right-block__textblock__percent{
        height:auto;
        width:auto;
    }
    .right-block__weatherblock {
        height:auto;
    }
    .right-block__textblock-str{
        height: auto;
        margin-bottom:5%
    }
    .right-block__textblock{
        margin-bottom:15%;
    }
    .weatherblock__unit__mark{
        margin-top: 20%;
        margin-bottom:20%;
    }
    .right-block__button {
        font-size:calc(5*var(--space-16)) ;
    }
    .right-block__textblock__text {
    font-size: calc(4*var(--space-16));
    }
    .right-block__textblock__percent{
    font-size: calc(4*var(--space-16));
    }
    .weatherblock__unit__week{
    font-size: calc(3*var(--space-16));
    }
    .weatherblock__unit__temperature{
    font-size: calc(3*var(--space-16));
    }
    .search-box input {
        font-size:calc(5*var(--space-12))
    }
    .search-box img{
        width:60px;
        height:60px;
    }
    .weatherblock__unit__mark img{
        width:125px;
    }
}
    